.App {
  text-align: center;
  background: #ffffff;  
  background: -webkit-linear-gradient(to right, #3001FE, #ffffff);  
  background: linear-gradient(to right, #3001FE, #ffffff); 

}
.bar{
  background: #ffffff;  
  background: -webkit-linear-gradient(to right, #3001FE, #ffffff);  
  background: linear-gradient(to right, #3001FE, #ffffff); 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h2{
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

footer{
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}