body {
  margin: 0;
  padding: 0;
  font-family: 'Krub', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;  
  background: -webkit-linear-gradient(to right, #3001FE, #FFFFFF);  
  background: linear-gradient(to right,#3001FE, #FFFFFF); 

}